:root{
    font-size: 16px;
    --gray: #EEEEEE;
}

*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--gray);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#canvas1{
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 30%);
    width: 400px;
    height: 400px;
    background-color: var(--gray);
}

.controls{
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 30%);
}

.controls, select, option{
    font-size: 20px;
    font-family: anisette-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: anisette-std,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5vw;
    padding-top: 5rem;
}

p{
    font-family: anisette-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
}

@media only screen and (max-width: 600px){
    h1{

        font-size: 8vw;

    }
    
    p{

        font-size: 4vw;
    }
}